<!DOCTYPE html>
<html>
<head>
    <title>Contact us</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    <div class="enroll-container">
        <h2>Contact Us</h2>
        <div style="padding: 10px;">
            <p>Feel free to drop us an email. Old-fashioned phone calls works too.</p>
            <h4 style="padding: 5px;"><i class='bx bxl-gmail' style="font-size: 30px;"></i> Email: sample@gmail.com</h4>
            <h4 style="padding: 5px;"><i class='bx bxs-phone-call' style="font-size: 30px;"></i> Phone: 00000000</h4>
            <h4 style="padding: 5px;"><i class='bx bxs-map-pin' style="font-size: 30px;"></i> Address: P. Hoa Ma, Ngo Thi Nham, Hai Ba Trung, Ha Noi, Vietnam.</h4>
            <div class="btn-container">
                <a href="/" class="btn-wide btn-alter">Back </a>
            </div>
        </div>
    </div>
</body>
</html>