<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">

    <title>Homepage</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                {% for category, message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
    <nav class="navbar-menu">
        <div class="nav-left"></div>
        <div class="nav-right">
            <span class="nav-user">
                Welcome, <u>{{ account['Name'] }}</u>
                <a href="#" data-content="User"><i class='bx bxs-user-circle icon'></i></a>

                <div class="notification-wrapper">
                    <a href="#" id="notificationToggle">
                        <i class='bx bxs-bell icon'></i>
                         {% if notification_count > 0 %}
                        <span class="notification-badge"><strong>{{ notification_count }}</strong></span>
                        {% endif %}
                    </a>
                    <div id="notificationDropdown" class="notification-dropdown">
                        <p style="padding: 8px 12px; font-weight: bold;">Notifications</p>
                        <ul id="notificationList"></ul>
                    </div>
                </div>

            </span>
        </div>
    </nav>

    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <i class='bx bx-dumbbell'></i>
                </span>

                <div class="text header-text">
                    <span class="welcome-text">Menu </span>
                    <span class="name">{{ account['Access'] }}</span>
                </div>
            </div>

            <i class='bx bx-chevron-left toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link" data-content="ManageStaff">
                        <a href="#">
                            <i class='bx bx-briefcase icon'></i>
                            <span class="text nav-text">Manage Staff</span>
                        </a>
                    </li>
                    <li class="nav-link" data-content="ManageCustomer">
                        <a href="#">
                            <i class='bx bxs-user-detail icon'></i>
                            <span class="text nav-text">Manage Customer</span>
                        </a>
                    </li>
                    <li class="nav-link" data-content="ManageEquipment">
                        <a href="#">
                            <i class='bx bxs-archive icon' ></i>
                            <span class="text nav-text">Manage Equipment</span>
                        </a>
                    </li>
                    <li class="nav-link" data-content="ManageClasses">
                        <a href="#">
                            <i class='bx bx-clipboard icon'></i>
                            <span class="text nav-text">Manage Classes</span>
                        </a>
                    </li>
                    <li class="nav-link" data-content="Financial">
                        <a href="#">
                            <i class='bx bxs-chart icon'></i>
                            <span class="text nav-text">Financial</span>
                        </a>
                    </li>
                    <li class="nav-link " data-content="User">
                        <a href="#">
                            <i class='bx bxs-user-account icon' ></i>
                            <span class="text nav-text">User</span>
                        </a>
                    </li>
                    <li class="nav-link" data-content="Transactions">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon' ></i>
                            <span class="text nav-text">Transactions</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="bottom-content">
                <li class="">
                        <a href="{{ url_for('logout') }}">
                            <i class='bx bx-exit bx-rotate-180 icon'></i>
                            <span class="text nav-text">Exit</span>
                        </a>
                    </li>

                <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                            </div>
                            <span class="mode-text text">Dark mode</span>

                            <div class="toggle-switch">
                                <span class="switch"></span>
                        </div>
                    </li>
            </div>
        </div>
    </nav>
    <section class="home">

    </section>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>


</body>
</html>


