<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        function showPopup(message, type) {
            alert(message);
        }
    </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                {% for category, message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
    <div class="container">
        <h2 class="text-center">Change Password</h2>
        <form action="/reset-password" method="post">


             <div class="label">
                <label>New Password:</label>
                <input type="password" class="form-control" name="new_password" required>
             </div>

             <div class="label">
                <label>Confirm New Password:</label>
                <input type="password" class="form-control" name="confirm_password" required>
             </div>


                <button type="submit" class="btn-wide btn-submit">Confirm</button>

        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>